.buttonGroup {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.buttonGroup .button {
    margin-right: 8px;
}
.buttonGroup .button:last-child {
    margin-right: 0;
}

.DraftEditor-root {
    border: 1px solid #C9C9C9;
    background-color: #F9F9F9;
    height: 500px;
    width: 800px;
    border-radius: 4px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #f5f5f5 #f5f5f5;
}

.DraftEditor-editorContainer {
}

.public-DraftEditor-content {
    padding: 8px;
}
.DraftEditor-root::-webkit-scrollbar {
    width: 10px;
}

.DraftEditor-root::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.DraftEditor-root::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.DraftEditor-root::-webkit-scrollbar-thumb:hover {
    background-color: #f5f5f5;
}

